@import url("https://fonts.googleapis.com/css2?family=Inter&family=Orbitron&family=PT+Sans&family=Schoolbell&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: relative;
  background-color: #000;
}
.container {
  width: 1250px;
  margin: 0 auto;
  padding: 0;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.firsts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 182px;
  padding-top: 20px;
}
.first-item ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style-type: none;
}
.item-link a {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
}
.item-link a:hover {
  color: #fac422;
}
.items {
  display: flex;
  align-items: start;
  gap: 24px;
}
.item-a1 {
  /* padding-right: 99px; */
}
.first-link {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 16px 31px;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 0px;
  transition: 0.3s;
  cursor: pointer;
}
.first-link:hover {
  background-color: #ffffff;
  color: #57b8ff;
}
.second-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  padding: 214px 0 250px 0;
}
.second-next {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding-bottom: 14px;
}
.second-next_h3 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57b8ff;
}
.second-next_h2 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 45px;
}
.second-next_p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #999999;
  padding-bottom: 53px;
}
.second-next {
  display: flex;
  gap: 6px;
}
.second-a {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  padding: 21px 34px;
  border: none;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.second-a:hover {
  background: #57b8ff;
}

/* /////////////////////////////////// */

.three {
  background: #fdd04a;
}
.three-content {
  padding: 128px 0 130px 0;
}
.three-h3 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #222730;
  padding-bottom: 7px;
}
.three-img {
  padding-bottom: 27px;
  text-align: center;
}
.three-img _1 {
  height: 12px;
  width: 292px;
}
.three-p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #555555;
  padding-bottom: 41px;
}
.three-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: px;
}

/* /////////////////////////// */

.four {
  background-image: url(../images/four-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #312f2f;
}
.four-content {
  padding: 136px 0 131px 0;
}
.four-next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 22px;
}
.four-next_h3 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #57b8ff;
}
.four-h2 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 39px;
}
.four-p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: rgba(223, 223, 223, 0.8);
  padding-bottom: 61px;
}
.four-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  flex-wrap: wrap;
}
.four-page_1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 18px;
  width: 600px;
  height: 212px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  border: none;
  padding: 35px 40px 32px 39px;
}
.four-page-img {
  padding-bottom: 115px;
}
.four-page-h3 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 19px;
}
.four-page-p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(223, 223, 223, 0.8);
}

/* ////////////////////// */

.five {
  background: #000;
}
.five-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 107px;
  padding: 86px 0;
}
.five-next {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding-bottom: 14px;
}
.five-next_h3 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57b8ff;
}
.five-h3 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 38px;
}
.five-p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
  padding-bottom: 54px;
}
.five-a {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 21px 34px;
  background: #57b8ff;
  border: 0;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.five-a:hover {
  color: #57b8ff;
  background-color: #fff;
}

/* ///////////////////// */

.seven {
  background-color: #000;
}
.seven-content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ////////////////////// */

.eat {
  background-color: #000;
}
.eat-content {
  padding-top: 81px;
}
.eats-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eat-h2 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #ffffff;
}
.eat-4 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #ffffff;
}
.eat-2 {
  padding-top: 121px;
}
.eat-2_1 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 21px 34px;
  background: #57b8ff;
  border: none;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.eat-2_1:hover {
  color: #57b8ff;
  background-color: #fff;
  border-bottom: 1px solid #0d4369;
}
.nights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 87px 0 68px 0;
}
.night-1_img {
  padding-bottom: 54px;
  width: 580px;
  height: 590px;
}
.night-1_h5 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #57b8ff;
  padding-bottom: 28px;
}
.night-1_p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  text-transform: capitalize;
  color: #ffffff;
}
.night-34 {
  display: flex;
  gap: 12px;
}
.night-img {
  padding-bottom: 30px;
}
.night-h5 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #57b8ff;
  padding-bottom: 20px;
}
.night-p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 38px;
}
.night-56 {
  display: flex;
  gap: 12px;
}
.ten {
  background-image: url(../images/footer1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
}
.ten-content {
  padding: 126px 0 135px 0;
  text-align: center;
}
.ten-h2 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #141820;
  padding-bottom: 2px;
}
.ten-img {
  padding-bottom: 33px;
}
.ten-p1 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #555555;
  padding-bottom: 3px;
}
.ten-p2 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  padding-bottom: 50px;
}
.tens {
  display: flex;
  text-align: center;
  justify-content: center;
}
form input {
  padding: 21px 226px 21px 13px;
  background: #ffffff;
  border: 1px solid #cccccc;
  outline: none;
  width: 445px;
}
.ten-a {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  padding: 15px 8px;
  background: #57b8ff;
  border: none;
  outline: none;
  text-decoration: none;
  width: 221px;
  transition: 0.3s;
  cursor: pointer;
}
.ten-a:hover {
  color: #57b8ff;
  background-color: #fff;
}
